<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Product Form</h1>
    <form action="/admin/products/add" method="POST">
        <p><input type="text" name="name" placeholder="Product Name"></p>
        <p><input type="number" name="price" placeholder="Product Cost"></p>
        <p><input type="text" name="desc" placeholder="Product Description"></p>
        <p><input type="text" name="imageUrl" placeholder="Image URL"></p>
        <p><button>Submit</button></p>
    </form>
</body>
</html>